.task-card {
  margin: 10px 0;
  width: 90%;
  min-height: 70px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card:hover {
  background: rgba(255, 255, 255, 0);
}

.content {
  display: flex;
  align-items: center;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.checkbox_input {
  display: none;
}

.checkbox_box {
  width: 1.25em;
  height: 1.25em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  margin-right: 15px;
  flex-shrink: 0;
  transition: background 0.15s, border-color 0.15s;
}

.checkbox_box::after {
  content: "\2714";
  color: #fff;
  transform: scale(0);
  transition: transform 0.15s;
}

.checkbox_input:checked + .checkbox_box::after {
  transform: scale(1);
}

.bin-icon {
  width: 40px;
  height: 40x;
  cursor: pointer;
}

.text {
  margin: 0 0 5px 0;
  text-wrap: wrap;
}

.date {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}
