.todo-list {
  max-width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  align-self: flex-start;
  display: flex;
}
